
input {
   padding-left: 3px !important;
}

#edit_btn {
    float: right;
    cursor: pointer;
    left: unset;
}

#edit_btn:hover {
    color: #222;
}

#edit_btn:active {
    color: green;
}

.categories {
    border-top-color: rgb(73, 80, 87);
    border-top-width: 1px;
    border-top-style: solid;
    margin: auto;
    width: 95%;

}

/*
.list:nth-of-type(odd){
    background-color: #17085B;
}
.list:nth-of-type(even){
    background-color: #6453B3;
}
*/

.list {
    min-height: 500px;

}

/*
.list  * {
    color: #fff;
}
*/

.container-fluid {
    padding: 0;
}


/*
.list  a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.list  a:hover {
    color: #eeeeee;
}
*/

.header {
    margin-bottom: 25px;
}

.sub_title {
    background-color: #000063;
}

.links-list {
    /*margin-left: 25%;*/
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.38);
    background-color: #f5f5f6;
    font-size: 16px;
    margin-right: 3px;
}

.cat_edits > div{
    width: 100%;
    margin: auto;
}
.cat_edits > div > input{
    margin: auto;
}

.del_cat_btn {
    width: 100%;
    margin: auto;
}
.edit_wrap {
    background-color: #d1c4e9;
}